<!-- <section class="container"> -->
<div class="wrapper">
  <div class="event" id="apple-event">
    <article>
      <h1>Apple Special Event</h1>
      <p>Live from Brooklyn. <br>Watch on October 30 at 10 p.m. EDT.</p>
    </article>
  </div>
  <div class="event" id="giveback">
    <article>
      <h1>Apple GiveBack.</h1>
      <p>Trade in your old device<br> for credit toward a new one.</p>
        <a href="#">See how it works ></a>
    </article>
  </div>
  <div class="event" id="apple-music">
    <article>
      <p class="mustext">Loose yourself in 50 million songs.</p>
      <a href="#">Try it free*</a>
      <a href="#">Learn more ></a>
    </article>
  </div>
  <div class="event" id="airpods">
    <article>
      <h1>AirPods</h1>
      <p>Wireless. Effortless. Magical.</p>
        <a href="#">Learn more ></a>
        <a href="#">Buy ></a>
    </article>
  </div>
</div>
<!-- </section> -->
