/* .container {
  margin-top: 50%;
  padding-top: 5%;
  display: table;
  width: 100%; */


.event{
  background: url('../../assets/apple-event.jpg');
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  margin-top: 1%;
  margin-left: 5%;
}

.giveback{
    background: url('../../assets/robot.png');
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
