.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #eff0f2;

}

li{
  font-size: 9px;
  color: #505256;
  list-style-type: none;
}
 h5{
   font-size: 11px;
 }
