<div class="wrapper">

  <div class="column">
    <h5>Shop and Learn</h5>
  <li>Mac</li>
  <li>iPad</li>
  <li>iPhone</li>
  <li>Watch</li>
  <li>iTunes</li>
  <li>TV</li>
  <li>Music</li>
  <li>HomePod</li>
  <li>iPod Touch</li>
  <li>Accessories</li>
  <li>Gift Cards</li>
  </div>
  <div class="column">
    <h5>Apple Store</h5>
  <li>Mac</li>
  <li>iPad</li>
  <li>iPhone</li>
  <li>Watch</li>
  <li>iTunes</li>
  <li>TV</li>
  <li>Music</li>
  <li>HomePod</li>
  <li>iPod Touch</li>
  <li>Accessories</li>
  <li>Gift Cards</li>
  </div>
  <div class="column">
    <h5>For Education</h5>
  <li>Mac</li>
  <li>iPad</li>
  <h5>For Business</h5>
  <li>Watch</li>
  <li>iTunes</li>
  </div>
  <div class="column">
    <h5>Account</h5>
  <li>Mac</li>
  <li>iPad</li>
  <li>iPhone</li>
  <li>Watch</li>
  <li>iTunes</li>
  <h5>Apple Values</h5>
  <li>Music</li>
  <li>HomePod</li>
  <li>iPod Touch</li>
  <li>Accessories</li>
  <li>Gift Cards</li>
  </div>
  <div class="column">
    <h5>About Apple</h5>
  <li>Mac</li>
  <li>iPad</li>
  <li>iPhone</li>
  <li>Watch</li>
  <li>iTunes</li>
  </div>
</div>
