<div class="img">
  <h2 class="headline">iPad</h2>
  <h3 class="ipad1">Like a computer.<br> Unlike any computer.</h3>
  <div class="links">
    <a href="#">Learn more > </a>
    <a href="#"> Buy > </a>
  </div>
    <div class="ipadwithpen">

      <div class="unit-copy-wrapper">

      </div>

    </div>
    </div>

<div class="img">
  <h2 class="headline">iPap Pro</h2><br>
  <h3 class="ipad1">Anything you can do,<br>
you can do better.</h3>
<div class="links">
  <a href="#">Learn more > </a>
  <a href="#"> Buy > </a>
</div>
    <div class="ipappro">
      <div class="unit-copy-wrapper">
      </div>
    </div>
</div>

<div class="img">
    <div class="compare">
      <div class="unit-wrapper">
        <h2 class="comp">Compare iPad models.</h2>
        <div class="linksforcomp">
          <a href="#">Find the best iPad for you > </a>
        </div>
      </div>
    </div>
</div>

<div class="img">
    <div class="trade">
      <div class="unit-wrapper">
        <h2 class="tradetext">Trade in your current <br>iPad and get credit <br>for a new one.</h2>
        <br>
        <p class="par1">Get up to $250 on an Apple Store Gift Card when you trade in<br> your eligible iPad with Apple GiveBack.* It's good for you <br>and the planet.</p>
        <div class="linktrade">
          <a href="#">See how it works > </a>

        </div>
        <br>
        <p class="par1">Or buy a new iPad now, and get a refund after we receive<br> your trade-in.</p>
      </div>

    </div>
</div>

<div class="img">
    <div class="planets">
      <div class="unit-copy-wrapper">
        <h2 class="planhead">Augmented Reality</h2>
        <h4>A new world all around you.</h4>
        <p class="planettext">Transform the way you work, learn, play, and connect<br> with the world around you. iPad is already built for the <br>next generation of AR apps.</p>
      </div>
      <div class="linkspl">
        <a href="#">Learn more > </a>
      </div>
    </div>
</div>

<div class="img">
    <div class="power">
      <!-- <div class="unit-copy-wrapper"> -->
      <br>
        <h2 class="headline1">iOS 12<br>More power to you.</h2>
        <p class="mulimg">iOS 12 is designed to make your iPhone and iPad <br>expirience even faster, more responsive,<br> and more delightful.</p>
      <!-- </div> -->
      <div class="linktrade">
        <a href="#">Learn more > </a>
      </div>
    </div>
</div>


<div class="img">
    <div class="accsrs">
      <div class="unit-copy-wrapper">
        <h2 class="headline2">Accsessories for iPad</h2>
        <p class="par2">To help you get the most from your iPad.</p>
      </div>
      <div class="links0">
        <a href="#">Shop iPad accsessories > </a>
      </div>
    </div>
</div>

<!-- here goes the delivery info, not in  the div, bi=uton the background -->

<div class="img">
    <div class="play">
      <div class="unit-copy-wrapper">
        <h1 class="headlineforswift">Swift Playground</h1>
        <p class="parghforswift">Learn serious code on your<br> iPad. In a seriously fun way.</p>
      </div>
      <div class="linkforswift">
        <a href="#">Learn more > </a>
      </div>
    </div>
</div>

<div class="img">
    <div class="kid">
      <div class="unit-copy-wrapper">
        <h2 class="headlineforkid">You want to do <br>what's best for your<br> family. So do we.</h2>
        <br>
        <p class="parghforkid">Apple is constantly designing new features to help make<br> sure kids use devices in the ways you want.</p>
      </div>
      <div class="linktrade">
        <a href="#">Learn more > </a>
      </div>
    </div>
</div>
