.ipadwithpen {
  /*background: url('../../assets/component1.png') bottom center;*/
  background: url(https://www.apple.com/v/ipad/home/ai/images/home/hero_large_2x.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10%;
  background-size: contain;
  text-align: center;
  z-index: 3;
  background-color:white;

}
h2 {
  /*padding: 5%;*/
  text-align: center;
  color: black;
  font-weight: bold;
}

.links{
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;;

}
 a{
   color: #488cc4;
 }





 /*position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 3;*/

 /* iphone s styling */

 .ipappro {
   margin-top: 1%;
   /*background: url('../../assets/component2.jpg') bottom center;*/
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/ipad_pro_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   /* background-attachment: fixed; */
   text-align: center;
   background-color: white;
   /* position: absolute; */
   z-index: 3;
   object-fit: cover;
   background-position: center;


 }

/*body{
  background-color: #fafa;
}*/
 .compare {
   margin-top: 5%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/compare_ipad_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   margin-left: 10%;
   background-color: white;
   z-index: 3;
 }

 .comp{
   margin-right: 25%;
   text-align: right;
   font-size: 50px;
   font-weight: 500;

 }

 .linksforcomp{
   text-align: right;
   margin-right: 25%;
   font-size: 20px;
 }



 .trade {
   margin-top: 5%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/trade_in_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
   background-color: white;
   z-index: 3;
 }

 .tradetext{
   margin-left: 15%;
   text-align: left;
   font-size: 50px;
   font-weight: 500;
 }
 .par1{
   text-align: left;
   margin-left: 15%;
   font-size: 20px;
   font-weight: 200;
 }
 .linktrade{
   margin-left: 15%;
 }


 .planets {
   margin-top: 4%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/ar_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: white;
   z-index: 3;
   background-color: #fafafa;

 }

 .planhead{
   color: white;
   font-size: 40px;
   position: relative;
   top: 50%;
   left:50%;
   transform:translate(-40%, 140%);
   /*margin-bottom: 10%;*/
 }
 h4{
   text-align: right;
   top: 50%;
   left:50%;
   transform:translate(-30%, 240%);
   color: white;
 }

 .planettext{
   text-align: right;
   top: 50%;
   left:50%;
   transform:translate(-28%, 180%);
   color: white;
   font-weight: 100;
 }

 .linkspl{
   text-align: right;
   top: 50%;
   left:50%;
   transform:translate(-28%, 80%);
   color: white;
   font-weight: 100;
 }

 .power {
   margin-top: 3%;
   margin-left: -10%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/devices_large_2x.jpg);
   width: 100%;
   height: 700px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
   background-color: #fafafa;
   z-index: 3;
 }

 .headline1{
   margin-left: 15%;
   margin-top: 10%;
   text-align: left;
   font-size: 50px;
   font-weight: 600;
 }

 .mulimg{
   margin-left: 15%;

   text-align: left;
   font-size: 20px;
   font-weight: 300;
 }

 .accsrs {
   margin-top: 10%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/accessories_large_2x.jpg);
   width: 100%;
   height: 600px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: #fafafa;
   z-index: 3;
 }

 .headline2{
   color: black;
   font-size: 50px;
   font-weight: 600;
   position: relative;
   top: 50%;
   left:50%;
   transform:translate(-50%, -150%);
 }

 .par2{
   color: black;
   font-size: 20px;
   font-weight: 300;
   position: relative;
   top: 50%;
   left:50%;
   transform:translate(-10%, -300%);
 }
 .links0{
   font-size: 23px;
   font-weight: 400;
   text-align: center;
   top: 50%;
   left:50%;
   transform:translate(-0%, -300%);
 }


 .play {
   margin-top: 3%;
   margin-left: 10%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/ipad_playgrounds_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   background-color: white;
   z-index: 3;
 }

 .headlineforswift{
   color: black;
   font-size: 60px;
   font-weight: 600;
   position: relative;
   top: 50%;
   left:50%;
   transform:translate(-0%, 300%);
 }

 .parghforswift{
   color: black;
   font-size: 20px;
   font-weight: 300;
   position: relative;
   top: 50%;
   left:50%;
   transform:translate(5%, 400%);
 }

 .linkforswift{
   text-align: right;
   top: 50%;
   left:50%;
   transform:translate(-35%, 1000%);
   color: black;
   font-weight: 100;
 }

 .kid {
   margin-top: 3%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/families_large_2x.jpg);
   width: 100%;
   height: 700px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: #fafafa;
   z-index: 3;
 }

 .headlineforkid{
   margin-left: 15%;
   text-align: left;
   font-size: 50px;
   font-weight: 500;
   color: white;
   transform:translate(10%, 50%);

 }

 .parghforkid{
   text-align: left;
   margin-left: 15%;
   font-size: 20px;
   font-weight: 200;
   color: white;
   transform:translate(10%, 200%);
 }


 .edu {
   margin-top: 1%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/education_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: white;
   z-index: 3;
 }

 .business {
   margin-top: 1%;
   background: url(https://www.apple.com/v/ipad/home/ai/images/home/business_large_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: white;
   z-index: 3;
 }

 h3{
  margin-left: 9%;
  text-align: left;


 }


i{
   margin-left: 9%;
   font-size: 30px;
   padding-top: 20%;
 }

.headline{
  font-size: 59px;
  font-weight: bold;
  margin-top: 10%;
  font-family: sans-serif;
  text-align: center;
}

.ipad1{
  font-size: 40px;
  text-align: center;
  margin-left: 30px;
  font-weight: 600;
}


/*@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}*/
