

/* for smart devices https://www.apple.com/v/home/dx/images/heroes/iphone-xr/iphone_xr_small_2x.jpg*/

.iphoneXR {
  /*background: url('../../assets/component1.png') bottom center;*/
  background: url(https://www.apple.com/v/home/dx/images/heroes/iphone-xr/iphone_xr_largetall_2x.jpg) bottom center;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  z-index: 3;
  background-color: #000000;

}
h2 {
  padding: 5%;
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 300;
}

.links{
  font-size: 17px;
  font-weight: 150;

}
 a{
   color: #488cc4;
 }

 /*position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 3;*/

 /* iphone s styling */

 .iphoneXS {
   margin-top: 1%;
   /*background: url('../../assets/component2.jpg') bottom center;*/
   background: url(https://www.apple.com/v/home/dx/images/heroes/iphone-xs/iphone_xs_largetall_2x.jpg);
   width: 100%;
   height: 500px;
   background-repeat: no-repeat;
   background-size: contain;
   /* background-attachment: fixed; */
   text-align: center;
   background-color: #000000;
   /* position: absolute; */
   z-index: 3;
   object-fit: cover;
   background-position: center;


 }




 .apple-watch {
   margin-top: 1%;
   background: url(https://www.apple.com/v/home/dx/images/heroes/apple-watch-series-4/apple_watch_series_4_largetall_2x.jpg);
   width: 100%;
   height: 700px;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   background-color: #fafafa;
   z-index: 3;


 }

 h3{
  margin-left: 9%;
  text-align: left;


 }
 .watch-links{
   text-align: left;
   margin-left: 9%;
 }

i{
   margin-left: 9%;
   font-size: 30px;
   padding-top: 20%;
 }

.headline{
  font-size: 19px;
  font-weight: normal;
}
p{
  color: #ba3f12;
  font-weight: bold;
  /* text-align: center; */
  margin-left: 14%;
}

/*@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}*/
