#apple-navbar {
  background: rgba(0, 0, 0, 0.8);
  /* display: flex; */
  overflow: hidden;
  height: 40px;
  margin: 0 -10px;
}

#navbar-container{
  width: 100%;
  text-align: center;

}

li {
  text-align: center;
  display: inline-block;
  position: relative;
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
  width: auto;
  font-size: 10px;
  font-weight: 75;
  /* opacity: .65; */
}

a {
  text-decoration: none;
  color: #FFF;
}
