<div class="img">
    <div class="tv">
      <div class="unit-wrapper">
        <i class="fab fa-apple" alt="apple"><b>tv 4k</b></i>
        <h1 class="headline">Cinematic in every sense.</h1>
        <p>Apple TV 4K lets you watch movies and shows in amazing 4K HDR — and now it<br> completes
          the picture with immersive sound from Dolby Atmos.1 It streams your favorite<br> channels live.
          Has great content from apps like Netflix, Amazon Prime Video,
          and ESPN.2<br> And thanks to Siri,
          you can control it all with just your voice.</p>
      </div>
      <div class="links">
        <a class="tvlink" href="#">Learn more > </a>
        <a class="tvlink" href="#"> Buy > </a><br>
        <a class="tvlinkN" href="#"> Watch Lost in Space on Netflix </a>
      </div>

      <h5>Apple TV App</h5>
      <h1 class="headlineapp">Everything you watch, <br>on every screen.</h1>
      <p class="prghapp">The Apple TV App lets you browse content from over 100 video services<br> without switching from one app to the next. You’ll find movies and<br> shows, handpicked recommendations, and live sports and news.<br> The Apple TV App is already on iPhone, iPad, and Apple TV and works<br> seamlessly across them all.3 So if you stop watching in one place, you<br> can pick up where you left off on a different device.</p>
      <div class="applink">
          <a href="#">Learn more > </a>
      </div>



      <div class="tvapp">
      </div>

    </div>
    </div>

<!-- <div class="img">
    <div class="tvapp">


    </div>
</div> -->

<!-- <div class="img">
    <div class="apple-watch">
      <div class="watch-wrapper">
        <i class="fab fa-apple" alt="apple">WATCH</i>
        <p>series 4</p>
        <h3 class="headline">All new.<br>For a better you.</h3>
      </div>
      <div class="watch-links">
        <a href="#">Learn more > </a>
        <a href="#"> Buy > </a>
      </div>
    </div>
</div> -->
