<div class="img">
    <div class="tv">
      <div class="unit-wrapper">
        <i class="fab fa-apple" alt="apple"><b>tv 4k</b></i>
        <h1 class="headline">Cinematic in every sense.</h1>
        <p>Apple TV 4K lets you watch movies and shows in amazing 4K HDR — and now it<br> completes
          the picture with immersive sound from Dolby Atmos.1 It streams your favorite<br> channels live.
          Has great content from apps like Netflix, Amazon Prime Video,
          and ESPN.2<br> And thanks to Siri,
          you can control it all with just your voice.</p>
      </div>
      <div class="links">
        <a class="tvlink" href="#">Learn more > </a>
        <a class="tvlink" href="#"> Buy > </a><br>
        <a class="tvlinkN" href="#"> Watch Lost in Space on Netflix </a>
      </div>
    </div>
    </div>

<div class="img">
    <div class="iphoneXS">
      <div class="unit-copy-wrapper">
        <h2 class="headline">iPhone XS.<br>Welcome to the big screens.</h2>
      </div>
      <div class="links">
        <a href="#">Learn more > </a>
        <a href="#"> Buy > </a>
      </div>
    </div>
</div>

<div class="img">
    <div class="apple-watch">
      <div class="watch-wrapper">
        <i class="fab fa-apple" alt="apple">WATCH</i>
        <p>series 4</p>
        <h3 class="headline">All new.<br>For a better you.</h3>
      </div>
      <div class="watch-links">
        <a href="#">Learn more > </a>
        <a href="#"> Buy > </a>
      </div>
    </div>
</div>
